/* hero section */
.hero {
    display: flex;
    background-color: #FEFAF5;
    text-align: left;
    color: #335576;
    margin-top: 60px;
    padding-top: 40px;
}
.hero__col {
    padding-top: 30px;
}
.hero__col img {
    width: 75%;  
    padding-right:5%; 
}
.col--image {
    display: flex;
    align-items:center;
    justify-content:end;
}
.col--text {
    padding-left: 10%;
}

.hero p {
    padding: 30px 0px;
}

/* cards for reccommendations */
.card--hawaii {
    background-image: url("../assets/images/hawaii.jpg");
    background-size:cover;
}
.card--iceland {
    background-image: url("../assets/images/iceland.jpg");
    background-size:cover;
}
.card--greece {
    background-image: url("../assets/images/greece.jpg");
    background-size:cover;
}
.container__country {
    padding: 10px;
    color:white;
    font-weight: 700;
    font-size: 1.25rem;
}

/* panel changes for main */
.panel__header {
    margin-bottom: 20px;
    color: #335576;
}
